{% load humanize mathfilters cms_tags menu_tags sekizai_tags static i18n static %}


{% for plan in instance %}
<div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
    <div class="box">
        <h3>Para {{ plan.plan.Plan.tipo }}: {{ plan.plan.Plan.nombre }}</h3>
        <p class="font-size-sm mb-0">{{ plan.plan.Plan.leyenda }}</p>
        <h4><sup>$</sup>{{ plan.plan.Plan.valor_mes|floatformat:0|intcomma }}<span> / mes {% if instance.Plan.leyenda_valor %}
            <small class="align-self-end">{{ instance.Plan.leyenda_valor }}</small>
        {% endif %}</span></h4>
        <ul>
            <li>Inicial</li>
            {% for row in plan.incorpora %}
                {{row}}
                <li>Aida dere</li>
            {% endfor %}
        </ul>
        <div class="btn-wrap">
            {% if not user.is_active  %}
                <button class="btn btn-outline{{instance.Plan.area_class}}">
                    <a href="{{instance.Plan.boton_registrarse_url}}" class="nav-item nav-link">{{plan.plan.boton_registrarse_texto}}</a>
                </button>
            {% else %}
                <button class="btn btn-outline{{instance.Plan.area_class}}">
                    Ya esta registrado        
                </button>
            {% endif %}
        </div>
    </div>
</div>

{% endfor %}




