{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'precios:Articulos_list' %}">
    Articulos Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="nombre">nombre: </label>
      <input class="form-control col-sm-10"'
         id="nombre" type="text"
         name="nombre" value="{{ object.nombre }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
      <input class="form-control col-sm-10"
         id="last_updated" type="datetime-local"
         name="last_updated" value="{{ object.last_updated }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="created">created: </label>
      <input class="form-control col-sm-10"
         id="created" type="datetime-local"
         name="created" value="{{ object.created }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="nombre_original">nombre_original: </label>
      <input class="form-control col-sm-10"'
         id="nombre_original" type="text"
         name="nombre_original" value="{{ object.nombre_original }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}