<!-- Esto se muestra solo en móviles -->
<div class="d-inline d-md-none">
    <!-- Tu diseño actual para móviles -->
    <style>
        .active {
            font-weight: bold;
            color: blue;
        }
    </style>
    <div class="form-inline">
        <a href="?order=precio_por_unidad{% for key, value in request.GET.items %}{% ifnotequal key "order" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"
           class="{% if context.resumen.orden == 'precio_por_unidad' %}active{% endif %}">
            Menor Precio por Unidad
        </a>
    </div>
    <div class="form-inline">
        <a href="?order=-precio_por_unidad{% for key, value in request.GET.items %}{% ifnotequal key "order" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"
           class="{% if context.resumen.orden == '-precio_por_unidad' %}active{% endif %}">
            Mayor Precio por Unidad
        </a>
    </div>
    
    <div class="form-inline">
        <a href="?order=-mejor_precio{% for key, value in request.GET.items %}{% ifnotequal key "order" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"
           class="{% if context.resumen.orden == '-mejor_precio' %}active{% endif %}">
           Mayor precio
        </a>
    </div>
    <div class="form-inline">
        <a href="?order=mejor_precio{% for key, value in request.GET.items %}{% ifnotequal key "order" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"
           class="{% if context.resumen.orden == 'mejor_precio' %}active{% endif %}">
           Menor precio
        </a>
    </div>
    
    <div class="form-inline">
        <a href="?order=nombre{% for key, value in request.GET.items %}{% ifnotequal key "order" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"
           class="{% if context.resumen.orden == 'nombre' %}active{% endif %}">
           Nombre: A - Z
        </a>
    </div>
    <div class="form-inline">
        <a href="?order=-nombre{% for key, value in request.GET.items %}{% ifnotequal key "order" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"
           class="{% if context.resumen.orden == '-nombre' %}active{% endif %}">
           Nombre: Z - A
        </a>
    </div>
    
    <div class="form-inline">
        <a href="?order=marca{% for key, value in request.GET.items %}{% ifnotequal key "order" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"
           class="{% if context.resumen.orden == 'marca' %}active{% endif %}">
           Marca Nombre: A - Z
        </a>
    </div>
    <div class="form-inline">
        <a href="?order=-marca{% for key, value in request.GET.items %}{% ifnotequal key "order" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"
           class="{% if context.resumen.orden == '-marca' %}active{% endif %}">
           Marca Nombre: Z - A
        </a>
    </div>
</div>

<!-- Esto se muestra solo en PC -->
<div class="d-none d-md-inline">
    <select id="order-select" class="form-select form-select-sm" aria-label=".form-select-lg example">
        <option value="precio_por_unidad" {% if context.resumen.orden == 'precio_por_unidad' %}selected{% endif %}>
            Menor Precio por Unidad
        </option>
        <option value="-precio_por_unidad" {% if context.resumen.orden == '-precio_por_unidad' %}selected{% endif %}>
            Mayor Precio por Unidad
        </option>

        <option value="-mejor_precio" {% if context.resumen.orden == '-mejor_precio' %}selected{% endif %}>
            Mayor precio
        </option>
        <option value="mejor_precio" {% if context.resumen.orden == 'mejor_precio' %}selected{% endif %}>
            Menor precio
        </option>
        
        <option value="nombre" {% if context.resumen.orden == 'nombre' %}selected{% endif %}>
            Nombre: A - Z
        </option>
        <option value="-nombre" {% if context.resumen.orden == '-nombre' %}selected{% endif %}>
            Nombre: Z - A
        </option>

        <option value="marca" {% if context.resumen.orden == 'marca' %}selected{% endif %}>
            Marca Nombre: A - Z
        </option>
        <option value="-marca" {% if context.resumen.orden == '-marca' %}selected{% endif %}>
            Marca Nombre: Z - A
        </option>
    </select>
    
</div>

<script>
    // JavaScript para cambiar la ordenación cuando se selecciona una nueva opción
    document.getElementById("order-select").addEventListener("change", function() {
        const selectedOrder = this.value;
        let url = new URL(window.location.href);
        url.searchParams.set("order", selectedOrder);
        window.location.href = url.toString();
    });
</script>



