{% load humanize mathfilters %}
{% load precios_extras %}

<!-- if context.resumen.articulos_count  -->
    <section id="filterContainer" class="bg-white h-screen max-h-resultFilter mobile:hidden desktop:block rounded sticky top-10 overflow-scroll ">
        <div class="card-body" style="max-height:250px; overflow-y: scroll;">
            <ul class="list-group">
                {% for row in filtro.supermercados %}
                    {% if request.GET.supermercados == row.vendidoen__site__id|stringformat:"s"|replace_comma %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="badge bg-primary rounded-pill">{{ row.id__count }}</span>
                            {{ row.vendidoen__site__siteName|title }}
                            <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "supermercados" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                <i class="bi bi-x-circle"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% for row in filtro.marcas %}
                    {% if request.GET.marca == row.marca_id|stringformat:"s" %}
                            <li class="list-group-item d-flex justify-content-between align-items-center text-dark" style="background-color:#d2d5d8 !important">
                                {{ row.marca__nombre|title }}
                                <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "marca" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                    <i class="bi bi-x-circle"></i>
                                </a>
                            </li>
                    {% endif %}
                {% endfor %}
                {% for row in filtro.grados %}
                    {% if request.GET.grados == row.grados2|stringformat:"s"|replace_comma %}
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-danger text-light">
                                {{ row.grados2|floatformat:2|title }} °
                                <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "grados" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                    <i class="bi bi-x-circle"></i>
                                </a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% for row in filtro.unidades %}
                    {% if request.GET.unidades == row.unidades|stringformat:"s" %}
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-dark text-light">
                            {{ row.unidades|title }} Unidades
                            <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "unidades" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                <i class="bi bi-x-circle"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% for row in filtro.medida %}
                    {% with medida_cant_str=row.medida_cant|floatformat:0|stringformat:"s" %}
                        {% if request.GET.medida_cant == medida_cant_str %}
                            <li class="list-group-item d-flex justify-content-between align-items-center bg-info text-light">
                                
                                {{ row.medida_cant|floatformat:0|intcomma  }}
                                {% for um_row in filtro.medida_um %}
                                    {% if um_row.medida_um == row.medida_um %}
                                        {{ um_row.medida_um }}
                                    {% endif %}
                                {% endfor %}
                                
                                <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "medida_cant" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                    <i class="bi bi-x-circle"></i>
                                </a>
                            </li>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
                {% for row in filtro.color %}
                    {% if request.GET.color == row.color|stringformat:"s" %}
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-success text-light">
                            {{ row.color|title }}
                            <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "color" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                <i class="bi bi-x-circle"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% for row in filtro.envase %}
                    {% if request.GET.envase == row.envase|stringformat:"s" %}
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-secondary link-light">
                            {{ row.envase|title }}
                            <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "envase" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                <i class="bi bi-x-circle"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% for row in filtro.talla %}
                    {% if request.GET.talla == row.talla|stringformat:"s" %}
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-danger text-light">
                            {{ row.talla|title }}
                            <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "talla" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                <i class="bi bi-x-circle"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>   
        </div>
        <br/>

        <div class="accordion" id="myAccordion">
            
            {% if  filtro.supermercados|length > 1 %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#supermercadosfilter">Supermercados ({{filtro.supermercados|length}})</button>
                </h2>
                <div id="supermercadosfilter" class="accordion-collapse collapse">
                    <div class="card-body" style="max-height:250px; overflow-y: scroll;">
                        <ul class="list-group">
                            {% for row in filtro.supermercados %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="?supermercados={{ row.vendidoen__site__id|stringformat:"s"|replace_comma }}{% for key, value in request.GET.items %}{% ifnotequal key "vendidoen__site__id" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                                    {{ row.vendidoen__site__siteName|title }}
                                </a>
                                <span class="badge bg-primary rounded-pill">{{ row.articulo__count }}</span>

                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if  filtro.marcas|length > 1 %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button type="button" class="accordion-button collapsed link-light" style="background-color: rgb(186, 183, 183)" data-bs-toggle="collapse" data-bs-target="#Marcasfilter">Marcas ({{filtro.marcas|length}})</button>									
                    </h2>
                    <div id="Marcasfilter" class="accordion-collapse collapse">
                        <div class="card-body" style="max-height:250px; overflow-y: scroll;">
                            <ul class="list-group">
                                {% for row in filtro.marcas %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="?marca={{ row.marca_id }}{% for key, value in request.GET.items %}{% ifnotequal key "marca" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                                        {{ row.marca__nombre|title }}
                                    </a>
                                    <span class="badge bg-primary rounded-pill">{{ row.id__count }}</span>
                                    {% if request.GET.marca == row.marca_id|stringformat:"s" %}
                                        <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "marca" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                            <i class="bi bi-x-circle"></i>
                                        </a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            
            {% if  filtro.grados|length > 1 %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button type="button" class="accordion-button collapsed bg-danger text-light" data-bs-toggle="collapse" data-bs-target="#gradosfilter">Grados ({{filtro.grados|length}})</button>
                    </h2>
                    <div id="gradosfilter" class="accordion-collapse collapse">
                        <div class="card-body" style="max-height:250px; overflow-y: scroll;">
                            <ul class="list-group">
                                {% for row in filtro.grados %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="?grados={{ row.grados2|stringformat:"s"|replace_comma }}{% for key, value in request.GET.items %}{% ifnotequal key "grados" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                                        {{ row.grados2|floatformat:2|title }} °
                                    </a>
                                    <span class="badge bg-primary rounded-pill">{{ row.id__count }}</span>
                                    
                                    {% if request.GET.grados == row.grados2|stringformat:"s"|replace_comma %}
                                        <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "grados" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                            <i class="bi bi-x-circle"></i>
                                        </a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}


            {% if  filtro.unidades|length > 1 %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button type="button" class="accordion-button collapsed bg-dark text-light" data-bs-toggle="collapse" data-bs-target="#unidadesfilter">Unidades ({{filtro.unidades|length}})</button>                     
                    </h2>
                    <div id="unidadesfilter" class="accordion-collapse collapse">
                        <div class="card-body"  style="max-height:250px; overflow-y: scroll;">
                            <ul class="list-group">
                                {% for row in filtro.unidades %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="?unidades={{ row.unidades }}{% for key, value in request.GET.items %}{% ifnotequal key "unidades" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                                        {{ row.unidades|title }}
                                    </a>
                                    <span class="badge bg-primary rounded-pill">{{ row.id__count }}</span>
                                    {% if request.GET.unidades == row.unidades|stringformat:"s" %}
                                        <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "unidades" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                            <i class="bi bi-x-circle"></i>
                                        </a>
                                    {% endif %}


                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if  filtro.envase|length > 1 %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button type="button" class="accordion-button collapsed bg-secondary link-light" data-bs-toggle="collapse" data-bs-target="#envasefilter">Envase ({{filtro.envase|length}})</button>                     
                    </h2>
                    <div id="envasefilter" class="accordion-collapse collapse">
                        <div class="card-body"  style="max-height:250px; overflow-y: scroll;">
                            <ul class="list-group">
                                {% for row in filtro.envase %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="?envase={{ row.envase }}{% for key, value in request.GET.items %}{% ifnotequal key "envase" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                                        {{ row.envase|title }}
                                    </a>
                                    <span class="badge bg-primary rounded-pill">{{ row.id__count }}</span>
                                    {% if request.GET.envase == row.envase|stringformat:"s" %}
                                        <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "envase" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                            <i class="bi bi-x-circle"></i>
                                        </a>
                                    {% endif %}


                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if  filtro.color|length > 1 %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button type="button" class="accordion-button collapsed bg-success text-light" data-bs-toggle="collapse" data-bs-target="#colorfilter">Color ({{filtro.color|length}})</button>                     
                    </h2>
                    <div id="colorfilter" class="accordion-collapse collapse">
                        <div class="card-body"  style="max-height:250px; overflow-y: scroll;">
                            <ul class="list-group">
                                {% for row in filtro.color %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="?color={{ row.color }}{% for key, value in request.GET.items %}{% ifnotequal key "color" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                                        {{ row.color|title }}
                                    </a>
                                    <span class="badge bg-primary rounded-pill">{{ row.id__count }}</span>
                                    {% if request.GET.color == row.color|stringformat:"s" %}
                                        <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "color" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                            <i class="bi bi-x-circle"></i>
                                        </a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if  filtro.medida|length > 1 %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button type="button" class="accordion-button collapsed bg-info text-light" data-bs-toggle="collapse" data-bs-target="#medida_cantfilter">Medida ({{filtro.medida|length}})</button>                     
                    </h2>
                    <div id="medida_cantfilter" class="accordion-collapse collapse">
                        <div class="card-body"  style="max-height:250px; overflow-y: scroll;">
                            <ul class="list-group">
                                {% for row in filtro.medida %}
                                    {% with medida_cant_str=row.medida_cant|floatformat:0|stringformat:"s" %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a href="?medida_cant={{ medida_cant_str }}{% for key, value in request.GET.items %}{% ifnotequal key "medida_cant" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                                                {{ row.medida_cant|floatformat:0|intcomma  }}
                                                {% for um_row in filtro.medida_um %}
                                                    {% if um_row.medida_um == row.medida_um %}
                                                        {{ um_row.medida_um }}
                                                    {% endif %}
                                                {% endfor %}
                                            </a>
                                            <span class="badge bg-primary rounded-pill">{{ row.id__count }}</span>
                                            {% if request.GET.medida_cant == medida_cant_str %}
                                                <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "medida_cant" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                                    <i class="bi bi-x-circle"></i>
                                                </a>
                                            {% endif %}
                                        </li>
                                    {% endwith %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if filtro.talla|length > 1 %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button type="button" class="accordion-button collapsed bg-danger text-light" data-bs-toggle="collapse" data-bs-target="#tallafilter">Talla ({{filtro.talla|length}})</button>                     
                    </h2>
                    <div id="tallafilter" class="accordion-collapse collapse">
                        <div class="card-body"  style="max-height:250px; overflow-y: scroll;">
                            <ul class="list-group">
                                {% for row in filtro.talla %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="?talla={{ row.talla }}{% for key, value in request.GET.items %}{% ifnotequal key "talla" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                                        {{ row.talla|title }}
                                    </a>
                                    <span class="badge bg-primary rounded-pill">{{ row.id__count }}</span>
                                    {% if request.GET.talla == row.talla|stringformat:"s" %}
                                        <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "talla" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                            <i class="bi bi-x-circle"></i>
                                        </a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
        
            

            

        </div>

    </section> 

<!-- endif   -->