{% load humanize mathfilters %}
{% load precios_extras %}

<!-- if context.resumen.articulos_count  -->
    <section id="filterContainer" class="bg-white h-screen max-h-resultFilter mobile:hidden desktop:block rounded sticky top-10 overflow-scroll ">
        <div class="accordion" id="myAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#Marcasfilter">Marcas</button>									
                </h2>
                <div id="Marcasfilter" class="accordion-collapse collapse">
                    <div class="card-body" style="max-height:250px; overflow-y: scroll;">
                        <ul class="list-group">
                            {% for row in filtro.marcas %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="?marca={{ row.marca_id }}{% for key, value in request.GET.items %}{% ifnotequal key "marca" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                                    {{ row.marca__nombre|title }}
                                </a>
                                <span class="badge bg-primary rounded-pill">{{ row.id__count }}</span>
                                {% if request.GET.marca == row.marca_id|stringformat:"s" %}
                                    <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "marca" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                        <i class="bi bi-x-circle"></i>
                                    </a>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            
            
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#gradosfilter">Grados</button>
                    </h2>
                    <div id="gradosfilter" class="accordion-collapse collapse">
                        <div class="card-body" style="max-height:250px; overflow-y: scroll;">
                            <ul class="list-group">
                                {% for row in filtro.grados %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="?grados={{ row.grados2|stringformat:"s"|replace_comma }}{% for key, value in request.GET.items %}{% ifnotequal key "grados" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                                        {{ row.grados2|floatformat:2|title }} °
                                    </a>
                                    <span class="badge bg-primary rounded-pill">{{ row.id__count }}</span>
                                    
                                    {% if request.GET.grados == row.grados2|stringformat:"s"|replace_comma %}
                                        <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "grados" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                            <i class="bi bi-x-circle"></i>
                                        </a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#envasefilter">Envase</button>                     
                </h2>
                <div id="envasefilter" class="accordion-collapse collapse">
                    <div class="card-body"  style="max-height:250px; overflow-y: scroll;">
                        <ul class="list-group">
                            {% for row in filtro.envase %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="?envase={{ row.envase }}{% for key, value in request.GET.items %}{% ifnotequal key "envase" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                                    {{ row.envase|title }}
                                </a>
                                <span class="badge bg-primary rounded-pill">{{ row.id__count }}</span>
                                {% if request.GET.envase == row.envase|stringformat:"s" %}
                                    <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "envase" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                        <i class="bi bi-x-circle"></i>
                                    </a>
                                {% endif %}


                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% if  filtro.color|length > 1 %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#colorfilter">Color</button>                     
                    </h2>
                    <div id="colorfilter" class="accordion-collapse collapse">
                        <div class="card-body"  style="max-height:250px; overflow-y: scroll;">
                            <ul class="list-group">
                                {% for row in filtro.color %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="?color={{ row.color }}{% for key, value in request.GET.items %}{% ifnotequal key "color" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                                        {{ row.color|title }}
                                    </a>
                                    <span class="badge bg-primary rounded-pill">{{ row.id__count }}</span>
                                    {% if request.GET.color == row.color|stringformat:"s" %}
                                        <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "color" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                            <i class="bi bi-x-circle"></i>
                                        </a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#medida_cantfilter">Medida</button>                     
                </h2>
                <div id="medida_cantfilter" class="accordion-collapse collapse">
                    <div class="card-body"  style="max-height:250px; overflow-y: scroll;">
                        <ul class="list-group">
                            {% for row in filtro.medida %}
                                {% with medida_cant_str=row.medida_cant|floatformat:0|stringformat:"s" %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a href="?medida_cant={{ medida_cant_str }}{% for key, value in request.GET.items %}{% ifnotequal key "medida_cant" %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                                            {{ row.medida_cant|floatformat:0|intcomma  }}
                                            {% for um_row in filtro.medida_um %}
                                                {% if um_row.medida_um == row.medida_um %}
                                                    {{ um_row.medida_um }}
                                                {% endif %}
                                            {% endfor %}
                                        </a>
                                        <span class="badge bg-primary rounded-pill">{{ row.id__count }}</span>
                                        {% if request.GET.medida_cant == medida_cant_str %}
                                            <a href="?{% for key, value in request.GET.items %}{% ifnotequal key "medida_cant" %}{{ key }}={{ value }}{% endifnotequal %}{% if not forloop.last %}&{% endif %}{% endfor %}" class="remove-filter">
                                                <i class="bi bi-x-circle"></i>
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endwith %}

                            
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            

            

        </div>

    </section> 

<!-- endif   -->