{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.nombre|title }}{% endblock %}

{% block breadcrumbs %}
  {% if not is_popup %}
    {% include "template_breadcrums.html"  %}
  {% endif %}
{% endblock %}

{% block extrahead %}
    <meta property="product:brand" content="{{ object.nombre|title}}">

    <script>
        $( document ).ready(function() 
        {
            loadCarrito();
        })
    </script>
{% endblock %}

{% block content %}

<div class="container" data-aos="fade-up">
    <div class="col-sm-12">
        <!-- <button id="toggle-column-button" class="btn btn-light align-middle btn-sm">Cambiar Vista</button> -->
        <form id="consulta_precios" method="get" action="{% url 'precios:brands_detail' resumen.brand %}">
            {% csrf_token %}
            <script>
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            </script>
            
            {% include "precios/filtros_y_orden.html" %}
        </form>
        <div class="container alert alert-secondary py-3 my-2" role="alert">
            <div class="row">
                <div class="col float-start">
                    <a class="btn btn-light align-middle btn-sm" data-bs-toggle="offcanvas" href="#offcanvasOrden" role="button" aria-controls="offcanvasOrden"><i class="bi bi-sort-down"  title="Ordenar"></i>Ordenar</a>
                </div>
                <div class="col">
                    <div class="float-center align-middle">
                        <small>
                            <span id="total-results" > {{ resumen.articulos_count }} resultados y {{ resumen.ofertas_count }} ofertas.</span>
                        </small>
                    </div>
                </div>
                <div class="col float-end">
                    <div class="float-end align-middle">
                        <a class="btn btn-light align-middle btn-sm" data-bs-toggle="offcanvas" href="#offcanvasFiltro" role="button" aria-controls="offcanvasFiltro"><i class="bi bi-filter" title="Filtrar"></i>Filtrar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% for row in articulos_dict %}
                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                    <div class="card h-100" style="min-height: 25rem; ">
                            {% include "precios/includes/articulo.html" with row=row.articulo ofertas=row.ofertas%}
                    </div>
                </div>
            {% empty %}
                <div class="col-lg-3">
                        {{ context.resumen.mensaje}}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    document.getElementById('toggle-column-button').addEventListener('click', function() {
        var elements = document.querySelectorAll('.row > div');
        elements.forEach(function(element) {
            var cardElement = element.querySelector('.card');
            if (cardElement) {
                if (element.classList.contains('col-12')) {
                    element.className = 'col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6';
                    cardElement.classList.remove('single-column-view');
                } else {
                    element.className = 'col-12';
                    cardElement.classList.add('single-column-view');
                }
            }
        });
    });
    
</script>

<style>
    .card {
        transition: all 0.3s ease;
    }

    .single-column-view .card {
        min-height: 10rem; /* Ajusta este valor según tus preferencias */
    }
    .card {
        padding: 0rem; /* Ajusta este valor según tus preferencias */
    }

</style>
{% endblock %}

{% block pagination %}
  {% include "paginacion.html" %}
{% endblock %}  

{% block footer %}
  {% include "footer.html" %}
{% endblock %}