{% extends "base.html" %}

{% block title %}Marcas{% endblock %}

{% block breadcrumbs %}
  {% if not is_popup %}
    {% include "template_breadcrums.html"  %}
  {% endif %}
{% endblock %}

{% block content %}
  <section id="portfolio" class="d-flex">
    <div class="container" data-aos="fade-up">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th class="table-primary">Marca</th>
            <th class="table-secondary">Articulos</th>
            <th class="table-secondary">Ofertas</th>
            <th class="table-success">Rules</th>
            <th class="table-danger">Grados</th>
            <th class="table-warning">Talla</th>
          </tr>
          {% for object in object_list %}
            {% if object.resultsCount >= resumen.MinSuperCompara %}
              <tr>
                <td class="table-primary"><h5><a href="{{object.get_absolute_url}}" class="btn btn-primary">{{ object|title }}</a></h5></td>
                <td class="table-secondary">{{ object.resultsCount }}</td>
                <td class="table-warning">{{ object.ofertas }}</td>
                <td class="table-success">{{ object.rulesCount }}</td>
                <td class="table-danger">{{ object.grados }}</td>
                <td class="table-warning">{{ object.talla }}</td>

              </tr>
              {% endif %}
        {% endfor %}
        </table>
      </div>
      

    </div>
  </section>

{% endblock %}

{% block pagination %}
  {% include "paginacion.html" %}
{% endblock %}  

{% block footer %}
  {% include "footer.html" %}
{% endblock %}