{% extends "base.html" %}
{% load humanize mathfilters cms_tags menu_tags sekizai_tags static i18n static %}  

{% block title %}Buscar artículos{% endblock %}
{% block extrahead %}
<script>
    $( document ).ready(function() 
    {
        loadCarrito();
        
    })
</script>
{% endblock %}



{% block content %}
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

        <div class="col-sm-12">
            <section class="desktop:col-span-12 mobile:col-span-12">
                <div class="row">
                    <div class="form-group mb-0">
                        <form id="consulta_precios" method="get" action="{% url 'precios:home' %}">
                            {% csrf_token %}
                            <script>
                                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                            </script>
                            <div class="input-group ">
                                <label class="visually-hidden" for="nombre"></label>
                                <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Queso o Pepsi o Codigo EAN" value="{{ context.resumen.nombre }}" required>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-light">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasOrden" aria-labelledby="offcanvasOrdenLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasOrdenLabel">Ordenar por</h5>
                                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <div class="form-inline">
                                        <label class="order-by-wrap-options">
                                            <input type="radio" name="order" class="order-by-input" value="-vendidoen__precio__min"
                                            {% if context.resumen.orden == '-vendidoen__precio__min' %} checked {% endif %}>
                                            <span class="order-by-option-title">Mayor precio</span>
                                        </label>
                                    </div>
                                    <div class="form-inline">
                                        <label class="order-by-wrap-options">
                                            <input type="radio" name="order" class="order-by-input" value="vendidoen__precio__min" 
                                            {% if context.resumen.orden == 'vendidoen__precio__min' %} checked {% endif %}>
                                            <span class="order-by-option-title">Menor precio</span>
                                        </label>
                                    </div>                            
                                    <div class="form-inline">
                                        <label class="order-by-wrap-options">
                                            <input type="radio" name="order" class="order-by-input" value="articulo__nombre" 
                                            {% if context.resumen.orden == 'articulo__nombre' %} checked {% endif %}>
                                            <span class="order-by-option-title">Nombre: A - Z</span>
                                        </label>
                                    </div>                            
                                    <div class="form-inline">
                                        <label class="order-by-wrap-options">
                                            <input type="radio" name="order" class="order-by-input" value="-articulo__nombre"  
                                            {% if context.resumen.orden == '-articulo__nombre' %} checked {% endif %}>
                                            <span class="order-by-option-title">Nombre: Z - A</span>
                                        </label>
                                    </div>
                                    <div class="form-inline">
                                        <label class="order-by-wrap-options">
                                            <input type="radio" name="order" class="order-by-input" value="articulo__marca__nombre" 
                                            {% if context.resumen.orden == 'articulo__marca__nombre' %} checked {% endif %}>
                                            <span class="order-by-option-title">Marca Nombre: A - Z</span>
                                        </label>
                                    </div>

                                    <div class="form-inline">
                                        <label class="order-by-wrap-options">
                                            <input type="radio" name="order" class="order-by-input" value="-articulo__marca__nombre"  
                                            {% if context.resumen.orden == '-articulo__marca__nombre' %} checked {% endif %}>
                                            <span class="order-by-option-title">Marca Nombre: Z - A</span>
                                        </label>
                                    </div>                            
                                </div>
                            </div>
                            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFiltro" aria-labelledby="offcanvasFiltroLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasFiltroLabel">Filtros</h5>
                                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></i>
                                    </button>
                                </div>
                                <div class="offcanvas-body">
                                    {% include "precios/filtros.html" %}
                                </div>
                            </div>
                        </form>
                    
                        {% if context.resumen.articulos_count %}

                            <div class="container alert alert-secondary py-3 my-2" role="alert">
                                <div class="row">
                                    <div class="col">
                                        <div class="float-start">
                                            <small>
                                                <span id="total-results" > {{ context.resumen.articulos_count }}</span> resultados y {{ context.resumen.ofertas_count }} ofertas
                                            </small>
                                        </div>
                                        <div class="float-end align-middle">
                                            <a class="btn btn-light align-middle btn-sm" data-bs-toggle="offcanvas" href="#offcanvasFiltro" role="button" aria-controls="offcanvasFiltro"><i class="bi bi-filter" title="Filtrar"></i></a>
                                            <a class="btn btn-light align-middle btn-sm" data-bs-toggle="offcanvas" href="#offcanvasOrden" role="button" aria-controls="offcanvasOrden"><i class="bi bi-sort-down"  title="Ordenar"></i></a>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                            
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% for row in articulos_dict %}
                        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="card h-100" style="min-height: 25rem; ">
                                 {% include "precios/includes/articulo.html" with row=row.articulo %}
                            </div>
                        </div>
                    {% empty %}

                        <div class="col-lg-3">
                                {{ context.resumen.mensaje}}
                        </div>
                    {% endfor %}
                </div>
                
            </section>
        </div>
            
    </div>
</section>


{% endblock %}
<!-- </div>     -->





{% block pagination %}
    {% if articulos_dict.paginator.num_pages %}
        <hr>
    {% endif%}
    {% if articulos_dict %}
        <ul class="pagination justify-content-center">
            {% if articulos_dict.has_previous %}
                <li class="page-item"><a class="page-link" href="?nombre={{ context.resumen.nombre }}&order={{context.resumen.orden}}&page={{ articulos_dict.previous_page_number }}">Anterior</a></li>
                <li class="page-item"><a class="page-link" href="?nombre={{ context.resumen.nombre }}&order={{context.resumen.orden}}&page=1">1</a></li>
            {% endif%}
            
            {% if articulos_dict.paginator.num_pages %}
                <li class="page-item active"><a class="page-link" href="#">{{articulos_dict.number}} de {{articulos_dict.paginator.num_pages}}</a></li>
            {% endif%}

            {% if articulos_dict.has_next %}
                <li class="page-item"><a class="page-link" href="?nombre={{ context.resumen.nombre }}&order={{context.resumen.orden}}&page={{ articulos_dict.next_page_number }}">{{ articulos_dict.next_page_number }}</a></li>
                <li class="page-item"><a class="page-link" href="?nombre={{ context.resumen.nombre }}&order={{context.resumen.orden}}&page={{ articulos_dict.next_page_number }}">Próxima</a></li>
                <li class="page-item"><a class="page-link" href="?nombre={{ context.resumen.nombre }}&order={{context.resumen.orden}}&page={{ articulos_dict.paginator.num_pages }}">Última</a></li>
            {% endif%}
        </ul>
    {% endif%}
    

{% endblock %}  

{% block footer %}
  {% include "footer.html" %}
{% endblock %}