{% extends "base.html" %}
{% load humanize mathfilters cms_tags menu_tags sekizai_tags static i18n static user_agents %}  


{% block title %}Buscar artículos{% endblock %}
{% block extrahead %}
<script>
    $( document ).ready(function() 
    {
        loadCarrito();
        
    })
</script>
{% endblock %}



{% block content %}
<!-- Primera Línea: Formulario de Búsqueda -->
<div class="container my-3">
    {% url 'precios:home' as url_formulario %}
    {% include "precios/search_form.html" with url_formulario=url_formulario%}
</div>

<!-- Segunda Línea: Resumen de Resultados y Ofertas -->
{% include "precios/segunda_linea.html" with articulos_count=context.resumen.articulos_count ofertas_count=context.resumen.ofertas_count%}

<!-- Tercera Línea: Filtro, Orden y Artículos -->
<div class="container my-3">
    <div class="row">
        {% if request.user_agent.is_pc %}
        
            {% if context.resumen.articulos_count %}
                <!-- Escritorio: Filtro y Orden en dos columnas -->
                
                <div class="col-2">
                    {% include "precios/filtro_orden.html" %}
                    {% include "precios/filtro_filtro.html" %}
                </div>
            
                <div class="col-10">
                    {% include "precios/articulos.html" %}
                </div>
            {% endif %}
        {% else %}
            <!-- Móvil: Filtro y Orden en el mismo espacio -->
            <div class="col-12">
                <div class="d-block d-lg-none">
                    {% include "precios/filtros_y_orden.html" %}
                    {% if context.resumen.articulos_count %}
                        <div class="container alert alert-secondary py-3 my-2" role="alert">
                            <div class="row">
                                <div class="col float-start">
                                    <a class="btn btn-light align-middle btn-sm" data-bs-toggle="offcanvas" href="#offcanvasOrden" role="button" aria-controls="offcanvasOrden"><i class="bi bi-sort-down"  title="Ordenar"></i>Ordenar</a>
                                </div>
                                <div class="col">
                                    <div class="float-center align-middle">
                                        <small>
                                            <span id="total-results" > {{ context.resumen.articulos_count }} resultados y {{ context.resumen.ofertas_count }} ofertas.</span>
                                        </small>
                                    </div>
                                </div>
                                <div class="col float-end">
                                    <div class="float-end align-middle">
                                        <a class="btn btn-light align-middle btn-sm" data-bs-toggle="offcanvas" href="#offcanvasFiltro" role="button" aria-controls="offcanvasFiltro"><i class="bi bi-filter" title="Filtrar"></i>Filtrar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                
                {% include "precios/articulos.html" %}
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}
    <div class="container" data-aos="fade-up">

        <div class="col-sm-12">
            <div class="row">
                <div class="d-none d-lg-block">
                    <div class="col">
                        <div class="float-center align-middle">
                            <small>
                                <span id="total-results" > {{ context.resumen.articulos_count }} resultados y {{ context.resumen.ofertas_count }} ofertas.</span>
                            </small>
                        </div>
                    </div>
                    {% include "precios/filtro_orden.html" %}
                    {% include "precios/filtros.html" %}
                    <!-- Aquí va su código para mostrar los filtros y ordenes al lado izquierdo -->
                </div>
                <div class="form-group mb-0">
                    <form id="consulta_precios" method="get" action="{% url 'precios:home' %}">
                        {% csrf_token %}
                        <script>
                            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                        </script>
                        <div class="row">
                            <div class="col">
                                <div class="input-group ">
                                    <label class="visually-hidden" for="nombre"></label>
                                    <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Queso o Pepsi o Codigo EAN" value="{{ context.resumen.nombre }}" required>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-light">
                                            <i class="bi bi-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </form>

                    <div class="d-block d-lg-none">
                        {% include "precios/filtros_y_orden.html" %}
                        {% if context.resumen.articulos_count %}
                            <div class="container alert alert-secondary py-3 my-2" role="alert">
                                <div class="row">
                                    <div class="col float-start">
                                        <a class="btn btn-light align-middle btn-sm" data-bs-toggle="offcanvas" href="#offcanvasOrden" role="button" aria-controls="offcanvasOrden"><i class="bi bi-sort-down"  title="Ordenar"></i>Ordenar</a>
                                    </div>
                                    <div class="col">
                                        <div class="float-center align-middle">
                                            <small>
                                                <span id="total-results" > {{ context.resumen.articulos_count }} resultados y {{ context.resumen.ofertas_count }} ofertas.</span>
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col float-end">
                                        <div class="float-end align-middle">
                                            <a class="btn btn-light align-middle btn-sm" data-bs-toggle="offcanvas" href="#offcanvasFiltro" role="button" aria-controls="offcanvasFiltro"><i class="bi bi-filter" title="Filtrar"></i>Filtrar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                {% for row in articulos_dict %}
                    <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                        <div class="card h-100" style="min-height: 25rem; ">
                                {% include "precios/includes/articulo.html" with row=row.articulo ofertas=row.ofertas%}
                        </div>
                    </div>
                {% empty %}
                    <div class="col-lg-3">
                            {{ context.resumen.mensaje}}
                    </div>
                {% endfor %}
            </div>
                
            
        </div>
            
    </div>


<!-- </div>     -->





{% block pagination %}
    {% if articulos_dict.paginator.num_pages %}
        <hr>
    {% endif%}
    {% if articulos_dict %}
        <ul class="pagination justify-content-center">
            {% if articulos_dict.has_previous %}
                <li class="page-item"><a class="page-link" href="?nombre={{ context.resumen.nombre }}&order={{context.resumen.orden}}&page={{ articulos_dict.previous_page_number }}">Anterior</a></li>
                <li class="page-item"><a class="page-link" href="?nombre={{ context.resumen.nombre }}&order={{context.resumen.orden}}&page=1">1</a></li>
            {% endif%}
            
            {% if articulos_dict.paginator.num_pages %}
                <li class="page-item active"><a class="page-link" href="#">{{articulos_dict.number}} de {{articulos_dict.paginator.num_pages}}</a></li>
            {% endif%}

            {% if articulos_dict.has_next %}
                <li class="page-item"><a class="page-link" href="?nombre={{ context.resumen.nombre }}&order={{context.resumen.orden}}&page={{ articulos_dict.next_page_number }}">{{ articulos_dict.next_page_number }}</a></li>
                <li class="page-item"><a class="page-link" href="?nombre={{ context.resumen.nombre }}&order={{context.resumen.orden}}&page={{ articulos_dict.next_page_number }}">Próxima</a></li>
                <li class="page-item"><a class="page-link" href="?nombre={{ context.resumen.nombre }}&order={{context.resumen.orden}}&page={{ articulos_dict.paginator.num_pages }}">Última</a></li>
            {% endif%}
        </ul>
    {% endif%}
    

{% endblock %}  

{% block footer %}
  {% include "footer.html" %}
{% endblock %}