<form id="consulta_precios" method="get" action="{{url_formulario}}">
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <div class="row">
        <div class="col">

            <div class="input-group mb-3">
                <label class="visually-hidden" for="nombre"></label>
                <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Queso o Pepsi o Codigo EAN" value="{{ context.resumen.nombre }}" required>

                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                    <i class="bi bi-search"></i>
                </button>
              </div>
        </div>
    </div>
    
    
</form>