{% load humanize mathfilters %}

        <div class="card-header">
            <div class="float-start">
                <a class="card-link  text-muted" href="{% url 'precios:brands_detail' row.marca.slug %}" >
                    {{ row.marca|title }}
                </a>
            </div>
            {% if user.is_active and user.is_staff %}
                <div class="float-end">
                    {{ row.id }}
                    <!-- <a href=" url 'precios:rescan'  row.slug " class="dropdown-item"><span class="badge bg-dark">Re-Scan {{ row.id }}</span></a> -->
                </div>
            {% endif %}
            <!-- <div class="float-end">
                 if row.tipo 
                    <span class="badge bg-warning text-dark">{{ row.tipo }} </span>                         
                 endif 
            </div> -->
        </div>
        <!-- <a href='{% url "precios:detalle" row.slug %}' class="card-img-top">
            <img src="{{row.image1}}" class="imageover card-img-top" alt="{{ row.vendidoen.site }}">
        </a> -->
        <a href='{% url "precios:detalle" row.slug %}' class="card-img-top d-flex justify-content-center p-3">
            <img src="{{row.image1}}" class="imageover card-img-top" alt="{{ row.vendidoen.site }}" style="max-width: 80%;">
        </a>
        
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">
                    <a href='{% url "precios:detalle" row.slug %}'  class="card-link">
                        {{ row.nombre|title }}
                    </a>
                </h5>
                <h5 class="justify-content-end mb-0">
                    <span class="badge-info">$ {{ row.mejorprecio|floatformat:0|intcomma }} </span>
                </h5>
            </div>

            <div class="float-start">

                
                {% if row.color %}
                    <span class="badge bg-dark">Color: {{ row.color }}</span>
                {% endif %}
                {% if row.unidades > 1 %}
                    <p class="text-muted mb-0">
                        <span class="badge bg-dark">{{ row.unidades }} Unidades x $ {{row.mejorprecio|div:row.unidades|floatformat:0|intcomma}} C/U

                    </span></p>
                {% endif %}
                <p class="text-muted mb-0">
                    {% if row.envase != None %}
                        <span class="badge bg-secondary">
                            {{ row.envase }}
                        </span>
                    {% endif %}
                    {% if row.grados2 %}
                        <span class="badge bg-danger">{{ row.grados2 }}°</span>
                    {% endif %}
                    {% if row.medida_cant %}
                        <span class="badge bg-secondary">{{ row.medida_cant }} {{ row.medida_um }}</span>
                    {% endif %}
                </p>

                {%if row.ean_13 %}
                    <h6 class="card-subtitle mb-2 text-muted"> <small>{{ row.ean_13}}</small></h6>
                {% endif %}
            </div>

        </div>
        
        <div class="card-footer">
            <span title="Supermercados" class="mt-1 mb-0 text-muted small">{{ ofertas }} Supermercados</span> 
            {%  include "precios/includes/boton_add_product.html" with id_prod=row.id %}
        </div>
   