<div class="d-grid gap-2">
    {% if user.is_active  %}
        <button type="button" class="btn btn-primary AddProduct" id_prod="{{id_prod}}" title="Agregalo a tu lista">
    {% else %}
        <button class="btn btn-primary " onclick="window.location ='/accounts/google/login/'" redir="{{ request.get_full_path }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Harás login previamente, luego agregalo a tu lista">
    {% endif %}
            <!-- <i class="bi bi-plus-circle-fill" style="color: #fefefe;"></i> -->
            Agregar a lista
        </button>
</div>