{% extends "base.html" %}

{% load humanize mathfilters cms_tags menu_tags sekizai_tags static i18n %}

{% block title %}Cotización{% endblock %}
{% block breadcrumbs %}
  {% if not is_popup %}
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Cotización</h2>
        {% if context.cache %}
            <h6> Cache: {{ context.cache|title}}</h6>
        {% endif %}
        <ol>
            <li><a href="/">Home</a></li>
            <li>Cotización</li>
            
        </ol>
      </div>
    </div>
  </section><!-- Breadcrumbs Section -->
  
  {% endif %}
{% endblock %}

{% block content %}
<style>
    .spinner-container {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    .spinner {
        width: 3rem;
        height: 3rem;
    }

    .spinner-border {
        width: 3rem;
        height: 3rem;
        border-width: 0.2rem;
    }

    .spinner-message {
        margin-top: 1rem;
        color: white;
        font-weight: bold;
    }

    /* Estilos para la presentación de propiedades */
    .propiedad {
        margin: 10px 0;
        padding: 5px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
    }

    .propiedad .nombre {
        font-weight: bold;
        color: #333;
    }

    .propiedad .valor {
        color: #555;
    }

</style>
<div id="portfolio" class="d-flex">
    <div class="container" >
        <!-- Elemento donde se agregará el spinner -->
        <div id="spinner-container" class="spinner-container"></div>
        
        
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Checking Site</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div id="mensajes"></div>
                
                    
                    {% if form.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Hubo un error...</strong> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}

                    <form id="cotizaForm" class="row g-3 needs-validation" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <script>
                            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                        </script>
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="plan" aria-label="Plan" onchange="PlanCambiado()">
                                    <option selected="" value="0">Seleccione plan...</option>
                                    {% for plan in context.planes%}
                                        <option value="{{plan.id}}">{{ plan.nombre }} $ {{ plan.valor_agno|intcomma}} anual </option>
                                    {% endfor %}
                                    </select>
                                <label for="plan">Plan</label>
                                <div class="invalid-feedback">
                                    Por favor, seleccione un plan.
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Detalles del Plan
                        </button>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <!-- Info -->
                                <div id="detalles_plan" class="form-floating row g-3">

                                </div>
                            </div>
                        </div>
  
                        <div class="col-md-10">
                            <div class="form-floating">
                                <input type="url" class="form-control" id="siteURL" value='' placeholder="https://ejemplo.com/" required>
                                <label for="siteURL">URL Dominio</label>
                            </div>
                            <div class="invalid-feedback">
                                Por favor, ingresa una URL válida.
                            </div>
                        </div>
                        <div class="col-md-2">
                            {% if user.is_active  %}
                                <button type="button" id="uno" class="btn btn-primary">Revisar sitio</button>
                            {% endif %}
                        </div>
                        <hr/>
                        {% if not user.is_active  %}
                            Para que usted pueda agregar un sitio de comercio de articulos de supermercado, debe estar registrado.
                            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                                <button class="btn btn-danger " onclick="window.location ='/accounts/google/login/'" 
                                    redir="{{ request.get_full_path }}" 
                                    data-bs-toggle="tooltip" 
                                    data-bs-placement="bottom" 
                                    title="Debe estar registrado">
                                    Registrese
                                </button>
                            </div>
                        {% endif %}
                        <div id="detalles_sitio" class="form-floating row g-3">
                            <!-- Aquí se agregarán y eliminarán los <input> -->
                        </div>
                        <hr/>
                        
                    </form>
                

                
                <div class="card-body invisible" id="navs">
                    <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
                      <li class="nav-item flex-fill" role="presentation">
                        <button 
                            id="home-tab" 
                            class="nav-link w-100 active" 
                            data-bs-toggle="tab" 
                            data-bs-target="#home-justified" 
                            type="button" 
                            role="tab" 
                            aria-controls="home" 
                            aria-selected="true">
                            Robots
                        </button>
                      </li>

                    </ul>
                    <div class="tab-content pt-2" id="myTabjustifiedContent">
                        <div 
                            class="tab-pane fade show active" 
                            id="home-justified" 
                            role="tabpanel" 
                            aria-labelledby="home-tab">

                            <div class="overflow-auto bg-light" style="max-height: 120px;">
                                <div id="robotsContainer"></div>
                            </div>
                        </div>


                    </div><!-- End Default Tabs -->
      
                  </div>
                
                  <div id="formulario-botones-father">
                    <p id="formulario-botones"></p>
                  </div>
                
            </div>
        </div>
        
    </div>

</div>
<script>
    // Deshabilitar la validación predeterminada de Bootstrap
    (function () {
        'use strict';
        var forms = document.querySelectorAll('.needs-validation');
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        handleRevisarSitio(); // Llamar a tu función de validación personalizada
                    }
                    form.classList.add('was-validated');
                }, false);
            });
    })();
</script>
<script>
    const ajax_robots                     = "{% url 'precios:ajax_robots'%}";
    const ajax_plan                       = "{% url 'precios:ajax_plan'%}";
    const ajax_save_cotiza                = "{% url 'precios:ajax_save_cotiza'%}";
    const navigation_id                   = "myTabjustified";
    const button_class_default            = "nav-link w-100";
    const divElement_className_default    = "tab-pane fade";
    const formulario                      = document.getElementById("cotizaForm");
    const detallesPlan                    = document.getElementById("detalles_plan");
    const li_sitemap                      = "url_sitemap";
    const li_url_products                 = "url_products";
    const li_ld_json_content              = "ld-json-content";
    const li_otro_content                 = "otro-content";
    const li_craw                         = "craw-content";
    const clase_input                     = "col-md-4";

 
    const placeholderDirecciones = "Comunas de despacho o ubicacion de un país.";
    const placeholderUsuarios    = "Usuarios.";
    const placeholderProductos   = "Productos."

    function initialize() {
        document.getElementById("uno").addEventListener("click", handleRevisarSitio);
    }


    function validarSeleccion() {
        var selectElement = document.getElementById("plan");
        var selectedValue = selectElement.value;

        if (selectedValue === "0") {
            return false;
        } else {
            return true;
        }
    }
    function PlanCambiado() {
        encenderSpinner();
        var selectElement = document.getElementById("plan");
        var selectedValue = selectElement.value;
        
        // Se vacian imputs
        $("#detalles_plan").empty();

        $.ajax({                      
            url: ajax_plan,                    
            data: {
                'plan_id': selectedValue
            },
            success: function (data) {   
                const detalles_plan = document.getElementById('detalles_plan');
                fill_plan(data.contenidoplan, "detalles_plan");

                // Direcciones
                var Num_comunas = document.querySelector(`input[placeholder="${placeholderDirecciones}"]`);
                var Num_usuarios = document.querySelector(`input[placeholder="${placeholderUsuarios}"]`);
                
                // if (Num_comunas){
                //     const valor = Num_comunas.value;
                //     for (let i = 0; i < valor; i++) {
                //         addCustomElementToId('detalles_plan', 'h4', 'custom-heading', 'Direccion ' + (i +1) + ':'); 
                //         add_input('detalles_plan','direccion-'+i, ''            ,'Dirección', false, 'input');
                //         add_input('detalles_plan','comuna-'+i   , data.comuna   ,'Comuna'   , false, 'select', false);

                //         // Agrega HR
                //         addCustomElementToId('detalles_plan', 'hr', 'custom-hr'); 
                //     }
                // }

                // // Usuarios
                // if (Num_usuarios){
                //     const valor = Num_usuarios.value;
                //     for (let i = 0; i < valor; i++) {
                //         addCustomElementToId('detalles_plan', 'h4', 'custom-heading', 'Usuario ' + (i +1) + ':'); 
                //         add_input('detalles_plan','nombre-'+i, ''       ,'Nombre', false, 'input');
                //         add_input('detalles_plan','email-'+i   ,''      ,'Email' , false, 'email', false);

                //         // Agrega HR
                //         addCustomElementToId('detalles_plan', 'hr', 'custom-hr'); 
                //     }
                // }
                
            },
            complete: function() {
                apagarSpinner();
            }
        });
    }

    function eliminar_li_a_nav(id_nav_secundario){
        var div_father_id           = id_nav_secundario + "-father";
        var liElement_id            = id_nav_secundario + "-li";
        var divElement_id           = id_nav_secundario + "-justified";
        $("#" + div_father_id).empty();
        $("#" + div_father_id).remove();

        $("#" + divElement_id).empty();
        $("#" + divElement_id).remove();

        $("#" + liElement_id).empty();
        $("#" + liElement_id).remove();

    }

    function agregar_li_a_nav(titulo_button, button_selected, id_nav_secundario, texto){
        var id_content              = navigation_id + 'Content';
        var liElement_id            = id_nav_secundario + "-li";
        var buttonElement_id        = id_nav_secundario + "-tab" ;
        var button_aria_controls    = id_nav_secundario;
        var button_aria_selected    = "false";
        var buttonElement_className = button_class_default;
        
        var divElement_id           = id_nav_secundario + "-justified";
        var divElement_className    = divElement_className_default;
        var data_bs_target          = "#" + id_nav_secundario + "-justified";
        var div_aria_labelledby     = id_nav_secundario + "-tab";
        var div_father_id           = id_nav_secundario + "-father";

        // Elimino antes de crear
        $("#" + div_father_id).empty();
        $("#" + div_father_id).remove();

        $("#" + divElement_id).empty();
        $("#" + divElement_id).remove();

        $("#" + liElement_id).empty();
        $("#" + liElement_id).remove();


        if (button_selected){
            button_aria_selected    = "true";
            buttonElement_className = button_class_default + " active";
            divElement_className    = divElement_className_default + " show active";
        }

        // Crear el elemento <li> con el botón
        var liElement = document.createElement("li");
        liElement.className = "nav-item flex-fill";
        liElement.setAttribute("role", "presentation");
        liElement.id = liElement_id;

        var buttonElement = document.createElement("button");
        buttonElement.className     = buttonElement_className;
        buttonElement.id            = buttonElement_id;
        buttonElement.setAttribute("data-bs-toggle", "tab");
        buttonElement.setAttribute("data-bs-target", data_bs_target);
        buttonElement.setAttribute("type", "button");
        buttonElement.setAttribute("role", "tab");
        buttonElement.setAttribute("aria-controls", button_aria_controls);
        buttonElement.setAttribute("aria-selected", button_aria_selected);
        buttonElement.setAttribute("tabindex", "-1");
        buttonElement.textContent = titulo_button;

        liElement.appendChild(buttonElement);

        // Obtener una referencia al <ul> con la clase "nav-tabs" y el ID entrgado
        var ulElement = document.getElementById(navigation_id);

        // Agregar el elemento <li> con el botón al <ul>
        ulElement.appendChild(liElement);
        
        // EL CONTENIDO 
        // Crear el elemento <div> principal
        var divElement          = document.createElement("div");
        divElement.className    = divElement_className;
        divElement.id           = divElement_id;
        divElement.setAttribute("role", "tabpanel");
        divElement.setAttribute("aria-labelledby", div_aria_labelledby);
        divElement.innerText    = texto;

        // Crear div father
        var divfather = document.createElement("div");
        divfather.id = div_father_id;

        // Crear div del contenido
        var divSecundario = document.createElement("div");
        divSecundario.id = id_nav_secundario;
        divSecundario.className = "overflow-auto bg-light";
        divSecundario.setAttribute("style", "max-height: 220px;");

        // Agrego el div del contenido al div father
        divfather.appendChild(divSecundario);

        // Agrego el div father al div principal
        divElement.appendChild(divfather);
        
        var areaElement = document.getElementById(id_content);
        areaElement.appendChild(divElement);
    }

    function deleteArea(contenedor){
        // Eliminar todos los nodos hijos de un elemento 
        while (contenedor.firstChild) {
            contenedor.removeChild(contenedor.firstChild);
        }
    }

    function fill_area(contenedor,  ladata, tipo, clase) {
        // Obtener una referencia al elemento en el que deseas generar la tabla
        var tablaContainer = document.getElementById(contenedor);

        deleteArea(tablaContainer);

        
        if (tipo == 'ld-json') {
            // Obtener un array de pares [clave, valor] del objeto ld_json
            var pares = Object.entries(ladata);
            pares.forEach(function(par) {
                var nombrePropiedad = par[0];
                var valorPropiedad = par[1];
                
                var elemento = document.createElement('div');

                elemento.className = 'propiedad'; // Agregar una clase CSS
                elemento.innerHTML = `<span class="nombre">${nombrePropiedad}:</span> <span class="valor">${valorPropiedad}</span>`;
                
                tablaContainer.appendChild(elemento);
            });
        }

        if (tipo == 'tabla') {
            // Crear una tabla
            var tabla = document.createElement("table");
            tabla.className = "table";

            // Crear la fila de encabezado
            var encabezado = tabla.createTHead();
            var encabezadoFila = encabezado.insertRow();
            for (var key in ladata[0]) {
                var th = document.createElement("th");
                th.innerHTML = key;
                encabezadoFila.appendChild(th);
            }

            // Crear las filas de datos
            var cuerpo = tabla.createTBody();
            for (var i = 0; i < ladata.length; i++) {
                var fila = cuerpo.insertRow();
                for (var key in ladata[i]) {
                    var celda = fila.insertCell();
                    celda.innerHTML = ladata[i][key];
                }
            }
            // Agregar la tabla al contenedor deseado
            tablaContainer.appendChild(tabla);
        } 
        if (tipo == 'checkbox') {
            // Crear una tabla
            var tabla = document.createElement("table");
            tabla.className = "table";
            // Crear la fila de encabezado
            var encabezado = tabla.createTHead();
            var encabezadoFila = encabezado.insertRow();
            
            var thCheckbox = document.createElement("th");
            thCheckbox.innerHTML = "Select";
            encabezadoFila.appendChild(thCheckbox);

            var thNombre = document.createElement("th");
            thNombre.innerHTML = "Name";
            encabezadoFila.appendChild(thNombre);

            // Crear las filas de datos con checkboxes
            var cuerpo = tabla.createTBody();
            for (var i = 0; i < ladata.length; i++) {
                var fila = cuerpo.insertRow();
                
                // Celda para el checkbox
                var celdaCheckbox = fila.insertCell();
                var checkbox = document.createElement("input");
                checkbox.type = "checkbox";
                checkbox.classList = clase;
                checkbox.value = ladata[i].loc;
                celdaCheckbox.appendChild(checkbox);

                // Celda para el nombre
                var celdaNombre = fila.insertCell();
                celdaNombre.innerHTML = ladata[i].loc;
            }
            // Agregar la tabla al contenedor deseado
            tablaContainer.appendChild(tabla);
        }
        

    }
    function agregarBotonConFuncion(areaId, botonTexto, id_boton, clase_boton, funcionAInvocar) {
        // Obtener una referencia al área identificada por su ID
        var area = document.getElementById(areaId);
        
        // Crear un botón
        var boton = document.createElement("button");
        boton.textContent = botonTexto;
        boton.id = id_boton; // Establecer el ID del botón
        boton.classList = clase_boton

        // Agregar un evento al botón
        boton.addEventListener("click", funcionAInvocar);

        // Agregar el botón al área
        area.appendChild(boton);
    }

    function FuncionRegistraSitio(){
        // $( "form" ).submit();
        
        encenderSpinner();
        var selectElement           = document.getElementById("plan");
        var plan_id                 = selectElement.value;
        var siteURL                 = $("#siteURL").val();  
        var Site_exist              = Number(document.getElementById("site_exist").value);
        var sitemap_url             = document.getElementById("sitemap_url").value 
        $.ajax({                      
            url: ajax_save_cotiza,    
            // method: 'POST',
            data: {
                'siteURL'               : siteURL,
                'plan_id'               : plan_id,
                'sitemap_url'           : sitemap_url,
            },
            success: function (data) {   
                mialert("Perfecto !", "Se registro el sitio.", "alert-success");
                
            },
            error: function() {
                apagarSpinner();
                mialert("Error!", "No se pudo registrar el sitio.", "alert-warning");
            },

            complete: function() {
                apagarSpinner();
            }
        });
    }


    function Add_botones_area(area) {

        var BotonesContainer    = document.getElementById(area + "-father");
        
        // Add some buttons
        var botones_area        = document.createElement("div");
        var id_botones          = area + '_botones_area';
        botones_area.id         = id_botones;
        botones_area.className  = "text-center";
        $("#botones_area").empty();
        BotonesContainer.appendChild(botones_area);
        
        return id_botones;

    }
    function FuncionDos_success(data) {
        agregar_li_a_nav("URLs en los siteMap", false, li_url_products,'');
        fill_area(li_url_products, data.heading, 'tabla', 'prod' );

        // Fill some form fields
        add_input('detalles_sitio','num_urls', '', 'Cantidad urls encontradas');
        document.getElementById("num_urls").value = data.registros;
    }

    function addCustomElementToId(id, tagName, className, content = null) {

        const parentElement = document.getElementById(id);
        if (!parentElement) {
            console.error(`Element with ID '${id}' not found.`);
            return;
        }

        const element = document.createElement(tagName);
        if (className) {
            element.classList.add(className);
        }
        if (content !== null) {
            element.textContent = content;
        }
        parentElement.appendChild(element);
    }

    function add_input(zone, id, valor, label, disabled=false, input_type='input', multiple=false) {
        delete_input(zone, id);

        var detallesPlan = $("#" + zone);
       
        var divCol = $("<div>", { class: clase_input });
        var divFormFloating = $("<div>", { class: "form-floating" });
        var label = $("<label>", { for: id, text: label });

        if (input_type == 'email') {
            var input = $('<input>', {
                type: "email",
                class: "form-control text-end",
                id: id,
                value: valor,
                disabled: disabled,
                placeholder: label
            });
            divFormFloating.append(input, label);    
        }

        if (input_type == 'input') {
            var input = $('<input>', {
                type: "text",
                class: "form-control text-end",
                id: id,
                value: valor,
                disabled: disabled,
                placeholder: label
            });
            divFormFloating.append(input, label);    
        }
        if (input_type == 'select'){
            var input = document.createElement('select');
            input.name = id;
            input.multiple = multiple;
            input.classList = 'form-select form-control';
            input.id = id;
            input.setAttribute("aria-label", label);

            var selectDias = $(detallesPlan).find(id);
            selectDias.empty(); // Vaciar las opciones existentes

            for (const opcion of valor) {
                // console.log('opcion id: ', opcion.id, 'nombre ', opcion.nombre);
                var option  = document.createElement('option');
                option.id   = opcion.id;
                option.text = opcion.nombre;

                input.append(option);
            }
            // divFormFloating.append(input);
            divFormFloating.append(input, label);  
        }
        
        divCol.append(divFormFloating);
        detallesPlan.append(divCol);
        
    }
    function mialert(titulo, cuerpo, clase) {
        const alertHTML = `
            <div class="alert ${clase} alert-dismissible fade show" role="alert">
            <strong>${titulo}</strong> ${cuerpo}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        `;
        var detallesPlan = $("#mensajes");
        detallesPlan.append(alertHTML);
    }

    function delete_input(zone, id) {
        $("#" + zone + " #" + id).closest("."+clase_input).remove();
    }

    function fill_plan(data, divid) {
        var detallesPlan = $("#" + divid);

        $.each(data, function (i, item) {
            var cantidad = item.todos ? 'Todos' : item.cantidad;

            var divCol = $("<div>", { class: clase_input });
            var divFormFloating = $("<div>", { class: "form-floating" });
            var input = $("<input>", {
                type: "text",
                class: "form-control text-end",
                id: "plan_" + item.id,
                value: cantidad,
                disabled: true,
                placeholder: item.objeto
            });
            var label = $("<label>", { for: "plan_urls", text: item.objeto });

            divFormFloating.append(input, label);
            divCol.append(divFormFloating);
            detallesPlan.append(divCol);
        });
    }
    function handleRevisarSitio() {
        if (!validarSeleccion()){
            mialert("Error!", "Seleccione un plan válido antes de continuar", "alert-warning");
            return;
        };
        var selectElement = document.getElementById("plan");
        var plan_id = selectElement.value;

        // Se vacian imputs
        $("#detalles_sitio").empty();
        $('#formulario-botones').empty();
        

        encenderSpinner();
        eliminar_li_a_nav(li_sitemap);
        eliminar_li_a_nav(li_url_products);

        const siteURL = $("#siteURL").val();  
        $.ajax({                       
            url: ajax_robots,    
            timeout: 1000000,               
            data: {
                'siteURL'               : siteURL,
                'csrfmiddlewaretoken'   : csrf_token,
            },
            success: function (data) {  
                var existe_robots = data.existe_robots;
                
                eliminar_li_a_nav(li_otro_content);
                eliminar_li_a_nav(li_ld_json_content);
                
                // Agrega campos del sitio
                add_input('detalles_sitio','robots_url', '', 'URL archivo Robots');
                add_input('detalles_sitio','site_exist', data.site_exist, 'Sitio registrado');
                
                // Activa Navs
                document.getElementById('navs').className = "visible";

                // Fill some form fields
                document.getElementById("robots_url").value = data.robots_url;

                if (data.agentes!=''){
                    add_input('detalles_sitio','agentes', '', 'Agentes');
                    document.getElementById("agentes").value = data.agentes;        
                }
                
                // Create some Div with some data 
                fill_area('robotsContainer', data.robots_data, 'tabla', '' );
                apagarSpinner();
                
                if (data.sitemap_url_exist){
                    // -----------------
                    agregar_li_a_nav("SiteMap", false, li_sitemap, );
                    fill_area(li_sitemap, data.sitemap_data, 'tabla', 'sites' );
                    
                    add_input('detalles_sitio','sitemap_url', data.sitemap_url, 'URL archivo Sitemap');
                }

                FuncionDos_success(data); 

                add_input('detalles_sitio','is_ld_json' , data.is_ld_json, 'ld-json');
                add_input('detalles_sitio','crawler'    , data.crawler, 'crawler');
                
                if (data.is_ld_json){
                    agregar_li_a_nav("Contenido ld-json", false, li_ld_json_content,'TEXTO');
                    fill_area(li_ld_json_content, data.ld_json, 'ld-json', 'ldjson' );
                }
                
                var Site_exist          = Number(document.getElementById("site_exist").value);
                var Num_productos_plan  = Number(document.querySelector(`input[placeholder="${placeholderProductos}"]`).value);
                var Num_productos_sitio = Number(document.getElementById("num_urls").value);
                
                if ( Num_productos_sitio > Num_productos_plan){
                    mialert("Error!", "El numero de URLs del plan es de " + Num_productos_plan + ". El sitio tiene " + Num_productos_sitio + ".", "alert-danger");


                } else {
                    id_botones = Add_botones_area('formulario-botones');
                    agregarBotonConFuncion(id_botones, "Registrar sitio", "boton-registro", "btn btn-danger", FuncionRegistraSitio);
                }
                // // Otros campos necesaroios de llenar
                // add_input('detalles_sitio','site_enabled', '', 'site_enabled');
                // add_input('detalles_sitio','use_his_image', '', 'use_his_image');
                // add_input('detalles_sitio','site_search', '', 'site_search');
                // add_input('detalles_sitio','menu_icon_image', '', 'menu_icon_image');
                // add_input('detalles_sitio','es_ean', '', 'es_ean');
                // add_input('detalles_sitio','reclamos_url', '', 'reclamos_url');
                // add_input('detalles_sitio','cobertura_url', '', 'cobertura_url');
                // add_input('detalles_sitio','product_url', '', 'product_url');
                // add_input('detalles_sitio','direcciones', '', 'direcciones');

            },
            error: function() {
                apagarSpinner();
                mialert("Error!", "No se pudo revisar el sitio.", "alert-warning");
            },
            complete: function() {
                apagarSpinner();
                
            }
        });
  
    };
    
    // Spinner
    var spinnerContainer = document.getElementById("spinner-container");

    function encenderSpinner() {
        if (!spinnerContainer.querySelector(".spinner")) {
            var spinner = document.createElement("div");
            spinner.className = "spinner";

            var spinnerBorder = document.createElement("div");
            spinnerBorder.className = "spinner-border text-primary";
            spinnerBorder.setAttribute("role", "status");

            var mensaje = document.createElement("div");
            mensaje.className = "spinner-message";
            // mensaje.textContent = "Cargando...";

            spinnerBorder.appendChild(mensaje);
            spinner.appendChild(spinnerBorder);

            spinnerContainer.appendChild(spinner);
            
            spinnerContainer.style.display = "flex"; // Mostrar el contenedor del spinner
        }
    }

    function apagarSpinner() {
        var spinner = spinnerContainer.querySelector(".spinner");
        if (spinner) {
            spinnerContainer.removeChild(spinner);
            spinnerContainer.style.display = "none"; // Ocultar el contenedor del spinner
        }
    }
    // Fin spinner

    // Inicializar el código cuando el DOM esté listo
    document.addEventListener("DOMContentLoaded", initialize);    

  </script>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}