{% extends "djangocms_blog/base.html" %}
{% load i18n easy_thumbnails_tags %}{% spaceless %}

{% block canonical_url %}<link rel="canonical" href="{{ view.get_view_url }}"/>{% endblock canonical_url %}

{% block content_blog %}
<section class="blog-list">
    {% block blog_title %}
    <header>
        <h2>
        {% if author %}{% trans "Articles by" %} {{ author.get_full_name }}
        {% elif archive_date %}{% trans "Archive" %} &ndash; {% if month %}{{ archive_date|date:'F' }} {% endif %}{{ year }}
        {% elif tagged_entries %}{% trans "Tag" %} &ndash; {{ tagged_entries|capfirst }}
        {% elif category %}{% trans "Category" %} &ndash; {{ category }}{% endif %}
        </h2>
    </header>
    {% endblock %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Version</th>
                <th>Fecha</th>
                <th>Titulo</th>
            </tr>
        </thead>
        <tbody>
            {% for post in post_list %}
                <tr>
                    <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>

                    {% if post.date_published %}
                        <td>{{ post.date_published|date:"DATE_FORMAT" }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td><a href="{{ post.get_absolute_url }}">{{ post.subtitle }}</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">{% trans "No article found." %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if author or archive_date or tagged_entries %}
        <p class="blog-back"><a href="{% url 'djangocms_blog:posts-latest' %}">{% trans "Back" %}</a></p>
    {% endif %}
    {% if is_paginated %}
        <nav class="{% firstof css_grid instance.css_grid %} pagination">
            {% if page_obj.has_previous %}
                <a href="?{{ view.page_kwarg }}={{ page_obj.previous_page_number }}">&laquo; {% trans "previous" %}</a>
            {% endif %}
            <span class="current">
                {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="?{{ view.page_kwarg }}={{ page_obj.next_page_number }}">{% trans "next" %} &raquo;</a>
            {% endif %}
        </nav>
    {% endif %}
</section>
{% endblock %}
{% endspaceless %}
